/* css.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  p {
    font-size: 18px;
    margin: 0px 0px;
  }
  
  select {
    font-size:16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;

  }
  
  button {
    font-size: 16px;
    padding: 8px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  #output {
    font-size: 20px;
    margin: 20px;
  }

  .custom-radio {
    display: inline-block

  }
  
  .custom-radio input[type="radio"] {
    display: none; 
  }
  
  .custom-radio .radio-text {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    color: #727272;
    font-weight: 520;


  }
  
  .custom-radio input[type="radio"]:checked + .radio-text {
    background-color: #3498db;
    color: #fff;
  }

  #form{
    margin: 50px;
    padding: 5px 10px;
    border-radius: 10px;    
    text-align: left;
    border: 5px solid #95ccff;

  }
  
  #koumoku{
    font-size: 20px;
    font-weight: 850;
    color: #3480db;

    

  };

